:root{
    --primary-color: #2e82de;
    --secondary-color: #373831;
    --global-bg-color: #e3e3e3;

}

body{
    width:80%;
    background-color: var(--global-bg-color);
}


.custom-btn{
    background-color: var(--primary-color);
    border-radius: 12px;
    border:none;
    width:85px;
    height:45px;
}