:root{
    --primary-color: #2e82de;
    --secondary-color: #373831;
    --tertiary-color: tomato;
    --global-bg-color: #e3e3e3;
}

body{
    width:80%;
    background-color: var(--global-bg-color);
}


.custom-btn-primary{
    background-color: var(--primary-color);
    border-radius: 12px;
    border:none;
    width:150px;
    height:45px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3);
}

.custom-btn-secondary{
    background-color: var(--secondary-color);
    border-radius: 12px;
    border:none;
    width:150px;
    height:45px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3);
    border: 1px soilid #fff;
}
.custom-btn-tertiary{
    background-color: var(--tertiary-color);
    border-radius: 12px;
    border:none;
    width:150px;
    height:45px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3);
    border: 1px soilid #fff;
}