:root {
  --primary-color: #2e82de;
  --secondary-color: #373831;
  --tertiary-color: tomato;
  --global-bg-color: #e3e3e3;
  --global-font-white: #fff;
}

/* body{
    width:80%;
    background-color: var(--global-bg-color);
}


.custom-btn-primary{
    background-color: var(--primary-color);
    border-radius: 12px;
    border:none;
    width:150px;
    height:45px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3);
    color: var(--global-font-white);
}

.custom-btn-secondary{
    background-color: var(--secondary-color);
    border-radius: 12px;
    border:none;
    width:150px;
    height:45px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3);
    border: 1px soilid #fff;
    color: var(--global-font-white);
}
.custom-btn-tertiary{
    background-color: var(--tertiary-color);
    border-radius: 12px;
    border:none;
    width:150px;
    height:45px;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3);
    border: 1px soilid #fff;
    color: var(--global-font-white);
}
 */

.body,
html {
  padding: 0 2%;
}

.textBox {
  height: 45px;
  margin: 2%;
}

.fieldSet {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  border: none;
}

.fieldSet select.dropDown.month,
.fieldSet select.dropDown.year {
  height: 45px;
}

#paymentForm .fieldSet .formRow {
  margin: 10px;
  width: 43%;
}

#threeDSPage .fieldSet .formRow {
  margin: 10px;
  width: 100%;
}

.label {
  color: #0f4b8f;
  font-weight: 600;
  font-size: 18px;
}

.submitButtonWrapper {
  display: flex;
  justify-content: center;
}

button#submitButton {
  margin-left: 2px;
  width: 240px;
  height: 55px;
  border-radius: 65px;
  background-color: #023b7e;
  color: #fff;
  font-size: 19px;
}
button#cancelButton {
  margin-left: 2px;
  width: 240px;
  height: 55px;
  border-radius: 65px;
  background-color: #023b7e;
  color: #fff;
  font-size: 19px;
}

.legend {
  display: none;
}
